/* [project]/src/styles/layout/header.module.css [app-client] (css) */
.main_header__header__2cfe4ed7 {
  background-color: transparent;
  position: absolute;
  z-index: 999;
  padding: 0;
  width: 100%;
}
.subpage__header__2cfe4ed7 .main_header__header__2cfe4ed7 {
  background-color: #fff;
  position: relative;
  box-shadow: 0 8px 12px rgb(0, 0, 0, 0.08);
}
.main_header__header__2cfe4ed7 .container_fluid__header__2cfe4ed7 {
  max-width: 1810px;
}
.main_header__inner__header__2cfe4ed7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main_header__logo__header__2cfe4ed7 {
  position: relative;
  z-index: 991;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 65px;
}
.main_header__logo__header__2cfe4ed7 img {
  width: 100%;
  max-width: 170px;
}
.main_header__logo__header__2cfe4ed7 svg {
  width: 100%;
  max-width: 170px;
  color: rgba(255, 255, 255, 1);
}
.subpage__header__2cfe4ed7 .main_header__logo__header__2cfe4ed7 svg {
  color: rgba(106, 52, 189, 1);
}
@media (max-width: 767px) {
  .main_header__logo__header__2cfe4ed7 img {
    max-width: 80px;
  }
}
@media (min-width: 768px) {
  .main_header__logo__header__2cfe4ed7 {
    width: auto;
    width: 100px;
    min-height: 90px;
  }
}
@media (max-width: 1500px) {
  .main_header__logo__header__2cfe4ed7 {
    width: 90px;
  }
}
@media (max-width: 767px) {}
@media (min-width: 768px) {
  .main_header__logo__header__2cfe4ed7 .mobile-nav__btn__header__2cfe4ed7 {
    margin-left: 30px;
  }
}
.main_header__right__header__2cfe4ed7 {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 9.5px 0;
}
.main_header__right__header__2cfe4ed7 a {
  padding: 10px;
  color: #fff;
}
.main_header__right__header__2cfe4ed7 a.user-login__header__2cfe4ed7 {
  font-size: 20px;
}
body.subpage__header__2cfe4ed7 .main_header__right__header__2cfe4ed7 a {
  padding: 10px;
  color: #98979b;
}
body.subpage__header__2cfe4ed7 .main_header__right__header__2cfe4ed7 a:hover {
  color: #98979b;
}
@media (min-width: 768px) {
  .main_header__right__header__2cfe4ed7 {
    margin-left: auto;
    padding: 0;
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  .main_header__right__header__2cfe4ed7 {
    margin-left: 0;
  }
}
a.main_header__search__header__2cfe4ed7 {
  font-size: 22px;
  color: #fff;
  transition: all 500ms ease;
  line-height: 1em;
  position: relative;
}
a.main_header__search__header__2cfe4ed7 > i {
  font-size: 18px;
  line-height: 1;
  transition: all 0.5s ease;
}
a.main_header__search__header__2cfe4ed7:hover {
  color: #fff;
}
.main_header__header__2cfe4ed7 .search_toggler__header__2cfe4ed7:hover .main_header__keyword__header__2cfe4ed7, 
.main_header__header__2cfe4ed7 .search_toggler__header__2cfe4ed7:hover .main_header__search__header__2cfe4ed7 > i {
  color: #fff;
}
body.subpage__header__2cfe4ed7 a.main_header__search__header__2cfe4ed7 {
  color: #98979b;
}
body.subpage__header__2cfe4ed7 a.main_header__search__header__2cfe4ed7:hover, 
body.subpage__header__2cfe4ed7 .main_header__header__2cfe4ed7 .search-toggler__header__2cfe4ed7:hover .main_header__search__header__2cfe4ed7 > i {
  color: #98979b;
}
@media (max-width: 1300px) {
  .main_header__header__2cfe4ed7 .search-toggler__header__2cfe4ed7 {
    margin-left: 28px;
  }
}
.main_header__keyword__header__2cfe4ed7 {
  font-size: 15px;
  line-height: 1;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 13px;
  transition: all 0.5s;
  position: relative;
  top: -2px;
}
.main_header__keyword__header__2cfe4ed7:hover {
  color: #d18548;
}
@media (max-width: 767px) {
  .main_header__keyword__header__2cfe4ed7 {
    display: none;
  }
}
.main_header__nav__header__2cfe4ed7 {
  margin-left: 0;
}
.subpage__header__2cfe4ed7 .sticky_header__cloned__header__2cfe4ed7, 
.sticky_header__cloned__header__2cfe4ed7 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  top: 0;
  background-color: rgba(106, 52, 189, 1);
  transform: translateY(-100%);
  box-shadow: 0px 3px 18px rgba(var(--shivam-black-rgb, 42, 40, 38), 0.07);
  transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  visibility: hidden;
  transition: transform 500ms ease, visibility 500ms ease;
}
.subpage__header__2cfe4ed7 .sticky_header__cloned__header__2cfe4ed7 {
  background-color: rgba(255, 255, 255, 1);
}
.sticky_header__cloned__header__2cfe4ed7.active__header__2cfe4ed7 {
  transform: translateY(0%);
  visibility: visible;
}
.mobile-nav__btn__header__2cfe4ed7 {
  width: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 3;
}
@media (max-width: 1199px) {
  .mobile-nav__btn__header__2cfe4ed7 {
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .mobile-nav__btn__header__2cfe4ed7 {
    display: none;
  }
}
.mobile-nav__btn__header__2cfe4ed7 span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.mobile-nav__btn__header__2cfe4ed7 span:nth-child(2) {
  margin-top: 4px;
  margin-bottom: 4px;
}
body.subpage__header__2cfe4ed7 .mobil_nav__btn__header__2cfe4ed7 span {
  background-color: #98979b;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7, 
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: none;
}
@media (min-width: 1200px) {
  .main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7, 
  .main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 ul {
    display: flex;
  }
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li.dropdown__header__2cfe4ed7 > a {
  position: relative;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li {
  margin: 0 22px;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li.search-link__header__2cfe4ed7 {
  margin: 0 5px;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li > a {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  transition: all 500ms ease;
}
body.subpage__header__2cfe4ed7 .main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li > a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all 500ms ease;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li.current__header__2cfe4ed7 > a, 
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li:hover > a {
  color: rgba(255, 255, 255, 1);
}
body.subpage__header__2cfe4ed7 .main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li.current__header__2cfe4ed7 > a, 
body.subpage__header__2cfe4ed7 .main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > li:hover > a {
  color: rgba(0, 0, 0, 1);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul {
  position: absolute;
  top: 100%;
  left: -25px;
  min-width: 270px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
  transform: scaleY(0) translateZ(100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(255, 255, 255, 0.07);
  padding: 15px 15px 11px 15px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1) translateZ(0px);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > .megamenu__header__2cfe4ed7 {
  position: static;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 > .megamenu__header__2cfe4ed7 > ul {
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li {
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li > a {
  font-size: 14px;
  line-height: 26px;
  color: #2a2826;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: flex;
  padding: 6px 16px;
  transition: 400ms;
  margin-bottom: 2px;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li > a::after {
  position: absolute;
  right: 20px;
  top: 8px;
  border-radius: 0;
  font-size: 6px;
  font-weight: 700;
  font-family: 'Font Awesome 5 Free';
  content: '\f111';
  color: var(--shivam-white, #fff);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
  transform: scale(0);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li.current__header__2cfe4ed7 > a, 
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li:hover > a {
  background-color: #d18548;
  color: #fff;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li.current__header__2cfe4ed7 > a::after, 
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li:hover > a::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li > ul {
  top: 0;
  left: calc(100% + 15px);
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li > ul.right-align__header__2cfe4ed7 {
  top: 0;
  left: auto;
  right: 100%;
}
.main_menu__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li ul li > ul ul {
  display: none;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .main_menu__list__header__2cfe4ed7 li:nth-last-child(1) ul li > ul, 
  .main_menu__list__header__2cfe4ed7 li:nth-last-child(2) ul li > ul {
    left: auto;
    right: calc(100% + 20px);
  }
}
@keyframes bubbleMover__header__2cfe4ed7 {
  0% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
  }
  30% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
  50% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
    transform: translateY(50px) translateX(100px) rotate(45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  80% {
    -webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
    transform: translateY(30px) translateX(50px) rotate(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0) rotate(0);
    transform: translateY(0px) translateX(0) rotate(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
}
@keyframes shapeMover__header__2cfe4ed7 {
  0%, 100% {
    transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
  }
  50% {
    transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
  }
}
@keyframes banner3Shake__header__2cfe4ed7 {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  60% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes squareMover__header__2cfe4ed7 {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
  }
  20%, 60% {
    -webkit-transform: translate(20px, 40px) rotate(180deg);
    transform: translate(20px, 40px) rotate(180deg);
  }
  30%, 80% {
    -webkit-transform: translate(40px, 60px) rotate(0deg);
    transform: translate(40px, 60px) rotate(0deg);
  }
}
@keyframes treeMove__header__2cfe4ed7 {
  0%, 100% {
    -webkit-transform: rotate(0deg) translateX(0);
    transform: rotate(0deg) translateX(0);
  }
  25%, 75% {
    -webkit-transform: rotate(5deg) translateX(15px);
    transform: rotate(5deg) translateX(15px);
  }
  50% {
    -webkit-transform: rotate(10deg) translateX(30px);
    transform: rotate(10deg) translateX(30px);
  }
}
@keyframes leafMove__header__2cfe4ed7 {
  0%, 100% {
    -webkit-transform: rotate(0deg) translateX(0);
    transform: rotate(0deg) translateX(0);
  }
  25%, 75% {
    transform: rotate(-2deg) translateX(5px);
  }
  50% {
    transform: rotate(-4deg) translateX(10px);
  }
}
@keyframes messageMove__header__2cfe4ed7 {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
}
@keyframes textRotate__header__2cfe4ed7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flowerRotate__header__2cfe4ed7 {
  0%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
.mobile-nav__wrapper__header__2cfe4ed7 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(-100%);
  transform-origin: left center;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
  visibility: hidden;
  position: fixed;
}
.mobile-nav__wrapper__header__2cfe4ed7 .container__header__2cfe4ed7 {
  padding-left: 0;
  padding-right: 0;
}
.mobile-nav__wrapper__header__2cfe4ed7 .home-showcase__header__2cfe4ed7 .row__header__2cfe4ed7 [class*='col-'] {
  flex: 0 0 100%;
}
.mobile-nav__wrapper__header__2cfe4ed7 .home-showcase__header__2cfe4ed7 {
  margin-bottom: -1px;
  margin-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav__wrapper__header__2cfe4ed7 .home-showcase__inner__header__2cfe4ed7 {
  padding: 15px 0px;
  background-color: transparent;
  box-shadow: none;
}
.mobile-nav__wrapper__header__2cfe4ed7 .home-showcase__title__header__2cfe4ed7 {
  color: #fff;
}
.mobile-nav__wrapper__header__2cfe4ed7.expanded__header__2cfe4ed7 {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
}
.mobile-nav__wrapper__header__2cfe4ed7.expanded__header__2cfe4ed7 .mobile-nav__content__header__2cfe4ed7 {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
}
.mobile-nav__overlay__header__2cfe4ed7 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2826;
  opacity: 0.3;
  cursor: url(/assets/img/close.png), auto;
}
.mobile-nav__content__header__2cfe4ed7 {
  width: 300px;
  background-color: rgba(106, 52, 189, 1);
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__nav__header__2cfe4ed7 {
  display: block;
  padding: 0;
}
.mobile-nav__content__header__2cfe4ed7 .logo-box__header__2cfe4ed7 {
  margin-bottom: 15px;
  display: flex;
}
.mobile-nav__close__header__2cfe4ed7 {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.mobile-nav__close__header__2cfe4ed7:hover {
  color: #eaeaea;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7, 
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 ul {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 ul li > a {
  padding-left: 1em;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li > a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  height: 38px;
  letter-spacing: 0.1em;
  align-items: center;
  transition: 500ms;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li a.expanded__header__2cfe4ed7 {
  color: #d18548;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li a button {
  width: 30px;
  height: 30px;
  background-color: #d18548;
  border: none;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-90deg);
  transition: transform 500ms ease;
}
.mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li a button.expanded__header__2cfe4ed7 {
  transform: rotate(0deg);
  background-color: #fff;
  color: #2a2826;
}
.mobile-nav__social__header__2cfe4ed7 {
  display: flex;
  align-items: center;
}
.mobile-nav__social__header__2cfe4ed7 a {
  font-size: 16px;
  color: #fff;
  transition: 500ms;
}
.mobile-nav__social__header__2cfe4ed7 a + a {
  margin-left: 20px;
}
.mobile-nav__social__header__2cfe4ed7 a:hover {
  color: #d18548;
}
.mobile-nav__contact__header__2cfe4ed7 {
  margin-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mobile-nav__contact__header__2cfe4ed7 li {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}
.mobile-nav__contact__header__2cfe4ed7 li + li {
  margin-top: 15px;
}
.mobile-nav__contact__header__2cfe4ed7 li a {
  color: inherit;
  transition: 500ms;
}
.mobile-nav__contact__header__2cfe4ed7 li a:hover {
  color: #d18548;
}
.mobile-nav__contact__header__2cfe4ed7 li > i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d18548;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
}
.mobile-nav__container__header__2cfe4ed7 .main_menu__logo__header__2cfe4ed7, 
.mobile-nav__container__header__2cfe4ed7 .main_menu__right__header__2cfe4ed7 {
  display: none;
}
@media (min-width: 1200px) {
  .search-toggler__header__2cfe4ed7.mobile-only__header__2cfe4ed7 {
    display: none;
  }
}
@media (max-width: 1200px) {
  .mobile-nav__content__header__2cfe4ed7 .main_menu__list__header__2cfe4ed7 li.search-link__header__2cfe4ed7 {
    display: none;
  }
}
.search-popup__header__2cfe4ed7 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transition: all 1s ease;
  -khtml-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.search-popup__overlay__header__2cfe4ed7 {
  position: fixed;
  width: 224vw;
  height: 224vw;
  top: calc(90px - 112vw);
  right: calc(50% - 112vw);
  z-index: 3;
  display: block;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: transform 0.8s ease-in-out;
  -khtml-transition: transform 0.8s ease-in-out;
  -moz-transition: transform 0.8s ease-in-out;
  -ms-transition: transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition-delay: 0s;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  background-color: #000;
  opacity: 0.9;
  cursor: url(/assets/img/close.png), auto;
}
@media (max-width: 767px) {
  .search-popup__overlay__header__2cfe4ed7 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: translateY(-110%);
  }
}
.search-popup__content__header__2cfe4ed7 {
  position: fixed;
  width: 0;
  max-width: 1000px;
  padding: 50px 25px 20px;
  background: #fff;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  -khtml-transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  -moz-transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  -ms-transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  -o-transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  transition: opacity 0.5s 0s, width 0.8s 0.8s cubic-bezier(0.225, 0.01, 0.475, 1.01), transform 0.2s 0s;
  transition-delay: 0s, 0.8s, 0s;
  transition-delay: 0s, 0.4s, 0s;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.search-popup__form__header__2cfe4ed7 {
  position: relative;
}
.search-popup__form__header__2cfe4ed7 input[type='search'], 
.search-popup__form__header__2cfe4ed7 input[type='text'] {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  color: #2a2826;
  border: 1px solid #eaeaea;
  outline: none;
  height: 55px;
  padding-left: 50px;
  padding-right: 20px;
  border-radius: 8px;
}
.search-popup__form__header__2cfe4ed7 .search-btn__header__2cfe4ed7 {
  padding: 0;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: -1px;
  border-radius: 0;
}
.search-popup__form__header__2cfe4ed7 .search-btn__header__2cfe4ed7 i {
  margin: 0;
}
.search-popup__form__header__2cfe4ed7 .search-btn__header__2cfe4ed7::after {
  background-color: #2a2826;
}
.search-popup__header__2cfe4ed7.active__header__2cfe4ed7 {
  z-index: 9999;
}
.search-popup__header__2cfe4ed7.active__header__2cfe4ed7 .search-popup__overlay__header__2cfe4ed7 {
  top: auto;
  bottom: calc(90px - 112vw);
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  opacity: 0.9;
  -webkit-transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
  -khtml-transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
  -moz-transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
  -ms-transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
  -o-transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 1.6s cubic-bezier(0.4, 0, 0, 1);
}
.search-popup__header__2cfe4ed7.active__header__2cfe4ed7 .search-popup__content__header__2cfe4ed7 {
  width: 96%;
  opacity: 1;
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
}
.search-popup__content__header__2cfe4ed7 .search-feild__header__2cfe4ed7 {
  position: relative;
  display: block;
}
.search-feild__header__2cfe4ed7 .search-icon__header__2cfe4ed7 {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 18px;
  color: #8b8b8d;
}
.cate-list__header__2cfe4ed7 {
  text-align: center;
  margin: 25px auto 0;
  display: flex;
}
.cate-list__header__2cfe4ed7 a.cate-box__header__2cfe4ed7 {
  width: 14.28%;
  text-align: center;
  margin: 5px 5px;
  background: #fff;
  padding: 26px 15px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  color: #6a34bd;
}
.cate-list__header__2cfe4ed7 .cate-box__header__2cfe4ed7 svg {
  margin: 0 auto 10px;
  display: block;
}
.cate-list__header__2cfe4ed7 .cate-box__header__2cfe4ed7 span {
  display: block;
  color: #18161b;
}
@media (max-width: 767px) {
  .search-popup__content__header__2cfe4ed7 {
    padding: 20px 15px 20px;
  }
  .search-popup__header__2cfe4ed7.active__header__2cfe4ed7 .search-popup__overlay__header__2cfe4ed7 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: translateY(0%);
  }
  .cate-list__header__2cfe4ed7 {
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px auto 0;
  }
  .cate-list__header__2cfe4ed7 a.cate-box__header__2cfe4ed7 {
    width: 20%;
    margin: 0 5px 10px;
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .cate-list__header__2cfe4ed7 a.cate-box__header__2cfe4ed7 {
    width: 28%;
  }
  .cate-list__header__2cfe4ed7 .cate-box__header__2cfe4ed7 span {
    font-size: 12px;
  }
}

/* [project]/src/styles/layout/footer.module.css [app-client] (css) */
@font-face{
  font-family: 'icomoon';
  src: url('/assets/icons/fonts/icomoon3573.eot');
  src: url('/assets/icons/fonts/icomoon3573.eot') format('embedded-opentype'), url('/assets/icons/fonts/icomoon3573.ttf') format('truetype'), url('/assets/icons/fonts/icomoon3573.woff') format('woff'), url('/assets/icons/fonts/icomoon3573.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.main_footer__footer__e187c036 {
  position: relative;
  width: 96%;
  margin: 50px auto 0;
  border-radius: 50px;
  display: block;
  clear: both;
}
.main_footer__top__footer__e187c036 {
  padding-top: 50px;
  padding-bottom: 200px;
}
@media (max-width: 1500px) {
  .main_footer__top__footer__e187c036 {
    padding-bottom: 170px;
  }
}
@media (max-width: 1400px) {
  .main_footer__top__footer__e187c036 {
    padding-bottom: 150px;
  }
}
@media (max-width: 1280px) {
  .main_footer__top__footer__e187c036 {
    padding-bottom: 130px;
  }
}
@media (max-width: 1024px) {
  .main_footer__top__footer__e187c036 {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .main_footer__footer__e187c036 {
    border-radius: 30px;
  }
  .main_footer__top__footer__e187c036 {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .main_footer__footer__e187c036 {
    border-radius: 20px;
  }
  .main_footer__top__footer__e187c036 {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .main_footer__top__footer__e187c036 {
    padding-bottom: 50px;
  }
}
.main_footer__bg__footer__e187c036 {
  background: rgba(241, 238, 255, 1) url(/assets/img/showmates-footr-bg.png) bottom center no-repeat;
  background-size: 100%;
}
.main_footer__footer__e187c036 .container__footer__e187c036 {
  position: relative;
}
@media (max-width: 1200px) {
  .main_footer__footer__e187c036 .container__footer__e187c036 {
    max-width: 100%;
  }
}
.main_footer__copyright__footer__e187c036 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.main_footer__social__footer__e187c036 {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.main_footer__social__footer__e187c036 > a {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.main_footer__social__footer__e187c036 > a:hover {
  color: rgba(106, 52, 189, 1);
}
.main_footer__socialtext__footer__e187c036 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer_widget__col__footer__e187c036 {
  margin-bottom: 36px;
  width: 25%;
}
.footer_widget__col__about__footer__e187c036 {
  width: 30%;
}
.footer_widget__col__links__footer__e187c036 {
  width: 20%;
}
.footer_widget__col__post__footer__e187c036 {
  width: 30%;
}
.footer_widget__col__news__footer__e187c036 {
  width: 30%;
}
@media (max-width: 991px) {
  .footer_widget__col__footer__e187c036 {
    width: 50%;
    margin-bottom: 26px;
  }
}
@media (max-width: 767px) {
  .footer_widget__col__footer__e187c036 {
    width: 100%;
  }
}
.footer_widget__col__content__logo__footer__e187c036 {
  display: inline-flex;
  margin-bottom: 23px;
}
.footer_widget__col__content__title__footer__e187c036 {
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .footer_widget__col__content__title__footer__e187c036 {
    font-size: 18px;
    margin-bottom: 19px;
  }
}
.footer_widget__col__content__links__footer__e187c036 li {
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  line-height: 1;
  margin-bottom: 10px;
}
.footer_widget__col__content__links__footer__e187c036 li a {
  color: inherit;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95% / 0px 1px no-repeat;
  transition: all 500ms ease;
  position: relative;
  margin-left: 21px;
}
.footer_widget__col__content__links__footer__e187c036 li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: auto;
  right: 0;
  bottom: 1px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.footer_widget__col__content__links__footer__e187c036 li a::before {
  font-family: 'icomoon' !important;
  content: '\e90b';
  width: auto;
  right: initial;
  top: 0;
  bottom: 0;
  left: -20px;
  margin: auto 0;
  opacity: 1;
  visibility: visible;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1;
  color: inherit;
}
.footer_widget__col__content__links__footer__e187c036 li a:hover {
  color: rgba(106, 52, 189, 1);
}
.footer_widget__col__content__links__footer__e187c036 li a:hover::before {
  color: rgba(106, 52, 189, 1);
}
.footer_widget__col__content__text__footer__e187c036, 
.footer_widget__col__subscribe__footer__e187c036 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  max-width: 100%;
}
.footer_widget__col__content__post-col__footer__e187c036 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 22px;
  margin-bottom: 25px;
}
.footer_widget__col__content__post-col__footer__e187c036:last-child {
  margin-bottom: 0;
}
.footer_widget__col__content__post-img__footer__e187c036 {
  width: 86px;
  min-width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
}
.footer_widget__col__content__post-img__footer__e187c036 > img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.footer_widget__col__content__post-info__footer__e187c036 {
  width: calc((100% - 86px) / 1);
  padding-left: 15px;
}
.footer_widget__col__content__post-date__footer__e187c036 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
}
.footer_widget__col__content__post-date__footer__e187c036 > i {
  margin-right: 9px;
}
.footer_widget__col__content__post-heading__footer__e187c036 {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}
.footer_widget__col__content__post-heading__footer__e187c036 > a {
  color: rgba(0, 0, 0, 1);
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95% / 0px 1px no-repeat;
  transition: all 500ms ease;
}
.footer_widget__col__content__post-heading__footer__e187c036 > a:hover {
  background-size: 100% 1px;
}
.footer_widget__col__content__social__footer__e187c036 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer_widget__col__content__social__footer__e187c036 a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a3626;
  font-size: 14px;
  color: #fff;
  transition: all 500ms ease;
  border-radius: 50%;
}
.footer_widget__col__content__social__footer__e187c036 a:hover {
  background-color: #d18548;
  color: #fff;
}
.footer_widget__col__content__subtitle__footer__e187c036 {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
}
.footer_widget__col__content__newsletter__footer__e187c036 {
  position: relative;
  width: 100%;
}
.footer_widget__col__content__newsletter__footer__e187c036 button[type='submit'] {
  width: auto;
  height: 48px;
  padding: 0 15px;
  margin-left: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: all 500ms ease;
  border-radius: 4px;
  background-color: rgba(106, 52, 189, 1);
}
.footer_widget__col__content__newsletter__footer__e187c036 button[type='submit']:hover {
  color: #2a2826;
  background-color: #fff;
}
.footer_widget__col__content__inpfield__footer__e187c036 {
  position: relative;
  margin-bottom: 10px;
  display: flex;
}
.footer_widget__col__content__inpfield__footer__e187c036::before {
  font-family: 'icomoon' !important;
  content: '\e915';
  position: absolute;
  height: auto;
  width: auto;
  top: 0;
  bottom: 0;
  left: 16px;
  z-index: 1;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: rgba(132, 132, 132, 0.7);
  font-size: 20px;
  line-height: 1;
}
.footer_widget__col__content__inpfield__footer__e187c036 input[type='email'] {
  width: 70%;
  display: block;
  border: none;
  outline: none;
  height: 48px;
  background-color: #fff;
  color: rgba(132, 132, 132, 0.7);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 49px;
  padding-right: 20px;
  transition: all 500ms ease;
  border-radius: 4px;
}
.footer_widget__col__content__inpfield__footer__e187c036 input[type='email']:focus {
  color: rgba(132, 132, 132, 0.7);
}
.footer_widget__col__subscribe__footer__e187c036 {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 25px;
  max-width: initial;
}

/* [project]/src/styles/layout/_layout.module.css [app-client] (css) */
.page_wrapper___layout__c0302f01 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

/*# sourceMappingURL=src_styles_layout_f2fb4d._.css.map*/
